.grid-column-layout {
    display: grid;
    grid-template-rows: auto;
}

.top-bar {
    grid-column: 1/3;
    grid-row: 1/3;
}

.navbar-custom {
    height: 100px;
    color: #09253e
}

.active {
    color: #a75b37
}

.navbar-brand {
    color: #09253e;
    size: 48pt;
}

.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .show>.nav-link {
    color: #a75b37
}

.navbar-brand.navbar {
    color: #09253e
}

.nav-item {
    color: #09253e
}

li a:hover {
    color: #a75b37
}